body {
  margin: 0px;
  font-family: "Arial", sans-serif;
}

.banner {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid;
  border-bottom-color: rgb(46, 163, 242);
  padding: 20px;
}

.logo {
  width: 30vw;
}

.navbar {
  display: flex;
  padding: 10px;
  justify-content: space-around;
}

.navbar a {
  text-decoration: none;
  color: black;
  padding: 10px;
  font-weight: bold;
  border-bottom: 2px solid transparent;
}

.navbar a:hover {
  border-bottom: 2px solid;
  border-radius: 5px;
}

main {
  display: flow-root;
}

.home-container {
  display: flex;
  color: white;
  background-color: #0062ff;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  font-size: 22px;
  margin: 50px auto;
  padding: 20px;
  width: 50%;
  line-height: 1.5;
}

.home-image {
  object-fit: contain;
  max-width: 50%;
  align-self: flex-start;
}

.footer {
  display: flex;
  justify-content: space-around;
  background-color: #333333;
  padding: 20px;
  padding-top: 80px;
  align-items: start;
}

.footer-logo {
  width: 20vw;
}

.footer-links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: white;
}

.footer-links b {
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-links p {
  margin: 0px;
  margin-bottom: 10px;
}

.footer-links a {
  text-decoration: none;
  margin-bottom: 10px;
  color: white;
}

.footer .contact {
  font-weight: bold;
  border: 2px solid #ccc;
  padding: 10px 30px;
}

/* Coding school */
.dev-container {
  background-image: url("./img/montage-developer-web.webp");
  background-size: cover;
  background-position: center;
}

/*TODO responsive*/
.dev-container-content {
  font-size: 24px;
  color: white;
  padding: 150px 5%;
  width: 40%;
}

.dev-container-content h1 {
  margin-bottom: 0px;
}
.dev-container-content p {
  line-height: 2;
}

.dev-container-content .below-h1 {
  margin: 0px;
}

.formation-info {
  display: flex;
  justify-content: space-around;
  box-shadow: 0px 1px 16px 0px rgba(0, 0, 0, 0.16);
}

.info-item-container {
  padding: 0px 50px;
  position: relative;
}

.info-item-container img {
  position: absolute;
  left: 0;
  top: 10px;
}

.info-item {
  /* //dsad */
}

.info-item p {
  font-weight: 600;
  color: #666;
}

/* Contact */
.main-contact {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0062ff;
}

.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
  background-color: #ffffff;
  padding: 40px;
  border-radius: 20px;
  width: 500px;
}

.contact-form {
  display: flex;
  flex-wrap: wrap;
  resize: vertical;
}

.contact-form input,
.contact-form select,
.contact-form textarea {
  color: #1e3066;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  border: 1px solid #000000;
}

.contact-form textarea::placeholder,
.contact-form input::placeholder {
  color: #1e3066;
}

.contact-container button {
  font-weight: bold;
  background-color: #fe6b26;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Innovation Lab */

.innovation-lab-container {
  padding: 40px;
  max-width: 1300px;
  margin: 0 auto;
}

.innovation-lab-container h1 {
  font-size: 4em;
  margin: 0;
}

.innovation-lab-container p {
  width: 50%;
  font-size: large;
}

.lab-image-container {
  display: flex;
  justify-content: center;
  background-color: #000000;
  margin: 0 auto;
}

.prerequisites-section {
  padding: 40px;
  max-width: 1300px;
  margin: 0 auto;
}

.prerequisites-section h1 {
  font-size: 48px;
  border-top: 1px solid black;
  padding: 20px 0;
  margin-bottom: 0;
  padding-bottom: 0;
}

.prerequisites-section .subtitle {
  font-size: 24px;
  margin-bottom: 40px;
  width: 70%;
}

.prerequisites-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px 60px;
}

.prerequisites-item {
  border-top: 1px solid black;
  padding-top: 20px;
}

.prerequisites-item h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.prerequisites-item p {
  font-size: 16px;
  line-height: 1.6;
}

.profiles {
  display: flex;
}

.profile {
  /* width: 100%;
  height: auto; */
  margin: 0 20px;
}
.profile img {
  width: 100%;
  height: auto;
}

/* Home Page Responsive */
@media screen and (max-width: 980px) {
  /* home main */
  .home-container {
    flex-direction: column;
  }
  .content {
    width: 80%;
    font-size: 18px;
  }
  .home-image {
    max-width: 100%;
  }

  /* footer */
  .footer {
    flex-direction: column;
    padding-top: 30px;
  }
  .footer-links {
    padding: 20px 0px;
  }
  .footer-logo {
    width: 50vw;
  }

  /* Innovation lab */
  .innovation-lab-container p {
    width: 100%;
  }

  .prerequisites-grid {
    grid-template-columns: 1fr;
  }

  .profiles {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
