body {
  background-color: rgb(200, 157, 206);
  font-family: "Segoe UI", sans-serif;
}
.name {
  text-align: center;
  font-size: 40px;
}
.interests {
  font-size: 20px;
  list-style-type: square;
  border: 2px solid black;
  border-radius: 20%;
  padding: 20px;
  width: 200px;
}
.heart {
  list-style-type: none;
  --c: rgb(6, 0, 0);
  position: relative;
  width: 20px;
  height: 20px;
  left: -10px;
  aspect-ratio: 1;
  background: radial-gradient(at 70% 31%, var(--c) 29%, #0000 30%),
    radial-gradient(at 30% 31%, var(--c) 29%, #0000 30%),
    conic-gradient(from -45deg at 50% 84%, var(--c) 90deg, #0000 0) bottom/100%
      50% no-repeat;
}
